body{

background-color:#182128;

}
#footer {

background: #00000000;

}

#article-container p {
    margin: 0 0 .2rem;
}

#article-container ol, #article-container ul {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

#article-container figure.highlight {
    margin: .6rem 0 .6rem;
}

.table-wrap {
    overflow-x: scroll;
    margin: .5rem 0 .5rem;
}

blockquote p {
    padding: .2rem 0;
}